body {
  background-color: rgb(37, 37, 37);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
}

.red-title {
  background-color: black;
  color: red;
  padding: 15px;
  border: 1px solid black;
}

.title {
  background-color: grey;
  color: blueviolet;
  padding: 15px;
  border: 1px solid black;
}
